<br><br><br>
<div class="text-center letra ">Sobre Mi</div>
<div class="container-fluid">

  <mat-card  class="sombra animate__animated card">
    <div class="row">
      <div class="col-md-4">


        <p>Me llamo Nicolas Galvez desde pequeño me gusto la informatica hasta que descubri el desarrolo de sofware y me fascino la idea de poder hacerlo yo mismo.
          </p>

      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">

       <p class="fw-bold">Informacion Basica:<span class="fw-normal"> Galvez Nicolas</span></p>
       <p class="fw-bold">Fecha de Nacimiento: <span class="fw-normal">01/04/2003</span></p>
       <p class="fw-bold">Email: <span class="fw-normal"> Nicolasgalvez051@gmail.com</span></p>
       <p class="fw-bold">Pais: <span class="fw-normal"> Argentina</span></p>
       <p class="fw-bold">Idiomas: <span class="fw-normal"> Español</span></p>
      </div>
    </div>
  </mat-card>
</div>



