<div class="container-fluid text-center">
  <mat-card class="card3">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center contact">Contact</div>
      </div>
      <br />
      <br />
      <br />
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <form
          class="user-login"
          [formGroup]="loginForm"
          (ngSubmit)="contacto()"
        >
          <mat-form-field class="bord" appearance="fill">
            <mat-label class="form">Nombre</mat-label>
            <input matInput type="text" formControlName="text_uno" />
            <div *ngIf="formControl.text_uno.errors" class="text-danger">
              <div *ngIf="formControl.text_uno.errors.requiered">
                Se necesita un nombre
              </div>
            </div>
          </mat-form-field>
<div>
          <mat-form-field class="borde" appearance="fill">
            <mat-label class="form">Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
          <div *ngIf="formControl.email.errors" class="text-danger">
            <div *ngIf="formControl.email.errors.email"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
              El email debe ser valido
            </div>
            <div *ngIf="formControl.email.errors.requiered">
              Se necesita un email
            </div>
          </div>
        </div>

          <mat-form-field class="bordes" appearance="fill">
            <mat-label class="form">Mensaje</mat-label>
            <input matInput type="text" formControlName="text_dos" />
            <div *ngIf="formControl.text_dos.errors" class="text-danger">
              <div *ngIf="formControl.text_dos.errors.requiered">
                Por favor deja tu mensaje
              </div>
            </div>
          </mat-form-field>
<div>
          <button
            type="submit"
            formControlName="submit"
            mat-raised-button
            class="formbottom"
          >
            Enviar
          </button>
        </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
