<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid navar-principal">
    <a class="navbar-brand boton" href="#">Nicolas Galvez </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a> <button (click)="scrollTointro()" class="boton" mat-button color="basic">Sobre Mi</button></a>
        <a> <button  (click)="scrollTointro2()"class="boton" mat-button color="basic">Experiecia</button></a>
        <a> <button  (click)="scrollTointro3()"class="boton" mat-button color="basic">Skills</button> </a>
        <a> <button (click)="scrollTointro4()"class="boton" mat-button color="basic">Formacion</button></a>
        <a><button (click)="scrollTointro5()"class="boton" mat-button color="basic">Contacto</button></a>
      </div>
    </div>
  </div>
</nav>
